.footer {
    background-color: rgb(50, 50, 255);
    min-height: 40px;
    display: flex;
    position: fixed;
    width: 100%;
    color: white;
    bottom: 0;
    left: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    z-index: 9999;
}