.login-parent {
    /* background-color: darksalmon; */
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.login-div {
    box-shadow: 0px 0px 6px 5px rgb(212 207 207 / 81%);
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    width: 50%;
    padding: 40px;
}

.login-text {
    text-align: center;
}

.log-btn {
    margin: 3% 0px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}